<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        width: 100%;
        margin: 0 auto;
        width: 100px;
        display: block; 
        justify-content: center;
        align-items: center;
    }
    .title_body{
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <div class="title_body">
        <h3>Ascii-Art-Web</h3>
    </div>
    <form action="/ascii" method="POST">
        <textarea name="input" placeholder="Input your text" cols="30" rows="10"></textarea>
        <select name="banner" id="banner">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>