{{ define "index" }}
{{template "header"}}
<body>  
    
    <form action="/ascii" method="post">
        <div class="title">
            <h1>Ascii-Art-Web</h1>
        </div>
        <div class="input_text">
            <textarea name="input" id="input" cols="30" rows="10"></textarea>
        </div>
        <div class="button_btn">
            <input type="submit" value="submit">
        </div>
        <div class="input_banner">
            <select name="banner" id="banner">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select>
        </div>
    </form>


</body>

    </html>

{{end}}