{{ define "index" }}
{{template "header"}}
<body>
        <center>
            <form action="/ascii" method="post">
                <h1>Ascii-Art-Web</h1><br>
                <textarea name="input" cols="60"  rows="25" placeholder="first name"></textarea><br>
                <button class="btn btn btn-danger">Summit</button><br>
                <select name="user" id="user">
                    <option value="1">standard</option>
                    <option value="1">shadow</option>
                    <option value="1">thinkertoy</option>
                </select>
            </form>
        </center>
    
</html>

{{end}}